* {
    font-family: OCR A Extended, Courier, monospace;
    color: black;
    font-size: 32px;
}
button{
    background-color: white;
    cursor: pointer;
}

body{
    background-color: white;
}
.commands button{
    display: block;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category {
    width: 300px;
    margin: 10px;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.container{
    display: flex;
    
}

.heading-item{
    border: black solid 3px;
    padding-right: 300px;
    margin-bottom: none;
    
}

.unsorted-files{
    background-color: darkgray;
}

.files{
    margin: 0;
    cursor: pointer;
    
}

.category-name{
    margin: 0;
}


.category-files{
    margin: 0;
    opacity: 50%
    
    
}

.category-items{
    border: 3px solid black;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 30px;
    border: 1px solid black;
    z-index: 1000;
}

.edit-playlist-file{
    border: 1px solid gray;
    margin: 0;
}

