* {
    font-family: 'Courier New', Courier, monospace;
    color: #f6d5a8;
    background-color: #1d1544;
}

.box {
    text-align: center;
    display: flex;
    justify-content: center;
}

.box2 {
    text-align: left;
    display: flex;
    justify-content: center;
}

img {
    height: 200px;
    width: auto;
}