* {
    font-family: 'Courier New', Courier, monospace;
    outline: 2px solid red;
    color: #f6d5a8;
    background-color: #1d1544;


}

.fantasy {
    font-size: 22px;
    text-align: center;
}

img {
    height: 200px;
    width: auto;
}